<link rel="stylesheet" href="css/home.css" />

<div class="home-container">
  <div class="input-form-container">
    <h3>Upload Your File Here</h3>
    <p>Read your CSV file from here</p>
    <form action="/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <input
          type="file"
          class="form-control"
          id="csvFile"
          name="csvFile"
          accept=".csv"
          required
        />
      </div>
      <div class="form-btn-container">
        <button type="submit" class="btn btn-dark">Upload File</button>
      </div>
    </form>
  </div>

  <div class="csv-filed-table">
    <h2>All Uploaded File</h2>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Uploaded Date</th>
            <th>Uploaded Time</th>
            <th>View File</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <% for(let file of files){ %>
          <tr>
            <td><%= file.originalFileName%></td>
            <td>
              <%=file.createdAt.toLocaleDateString(undefined, {timeZone:
              "Asia/Kolkata",})%>
            </td>
            <td>
              <%=file.createdAt.toLocaleTimeString(undefined, { timeZone:
              "Asia/Kolkata",})%>
            </td>
            <td>
              <a href="/view?id=<%= file.id %>" class="btn btn-dark"
                ><i class="bi bi-binoculars-fill"></i
              ></a>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-dark"
                onclick="deleteFile('<%= file.id %>')"
              >
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="js/home.js"></script>
